@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: SF_Pro_Display;
  src: url("../assets/fonts/SF-Compact-Display-Medium.otf");
}

.sf_pro {
  font-family: SF_Pro_Display;
}
.hamburger {
  position: relative;
  display: block;
  width: 35px;
  cursor: pointer;

  appearance: none;
  border: none;
  outline: none;
  background: none;
}
.hamburger .bar,
.hamburger::after,
.hamburger::before {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: #fff;
  transition: 0.4s;
  margin: 6px 0;
  border-radius: 20%;
}
.hamburger.is-active::before {
  transform: rotate(-45deg) translate(-11px, 1px);
}
.hamburger.is-active::after {
  transform: rotate(45deg) translate(-11px, 1px);
}
.hamburger.is-active .bar {
  opacity: 0;
}
.mobile-nav {
  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  min-height: 100vh;
  display: block;
  z-index: 40;
  background-image: url(../img/both/menufon.png);
  background-size: cover;
  color: #fff;
  transition: 0.4s;
}
.mobile-nav.is-active {
  left: 0;
}
.menu-word {
  padding-left: 208px;
}
.menu-elements {
  padding-top: 40px;
  padding-left: 208px;
}
@media (max-width: 1024px) {
  .menu-elements {
    padding-top: 20px;
  }
}
@media (min-width: 425px) {
  .menu-word {
    padding-left: 250px;
  }
  .menu-elements {
    padding-left: 250px;
  }
}
@media (min-width: 500px) {
  .menu-word {
    padding-left: 300px;
  }
  .menu-elements {
    padding-left: 300px;
  }
}
@media (min-width: 600px) {
  .menu-word {
    padding-left: 350px;
  }
  .menu-elements {
    padding-left: 350px;
  }
}
@media (min-width: 700px) {
  .menu-word {
    padding-left: 400px;
  }
  .menu-elements {
    padding-left: 400px;
  }
}
@media (min-width: 1024px) {
  .menu-word {
    padding-left: 650px;
  }
  .menu-elements {
    padding-left: 650px;
  }
}
@media (min-width: 1240px) {
  .menu-word {
    padding-left: 800px;
  }
  .menu-elements {
    padding-left: 800px;
  }
}
@media (min-width: 1430px) {
  .menu-word {
    padding-left: 890px;
  }
  .menu-elements {
    padding-left: 890px;
  }
}
@media (min-width: 1620px) {
  .menu-word {
    padding-left: 980px;
  }
  .menu-elements {
    padding-left: 980px;
  }
}
@media (min-width: 1810px) {
  .menu-word {
    padding-left: 1070px;
  }
  .menu-elements {
    padding-left: 1070px;
  }
}
@media (min-width: 2000px) {
  .menu-word {
    padding-left: 1160px;
  }
  .menu-elements {
    padding-left: 1160px;
  }
}
@media (min-width: 2200px) {
  .menu-word {
    padding-left: 1250px;
  }
  .menu-elements {
    padding-left: 1250px;
  }
}
@media (min-width: 2390px) {
  .menu-word {
    padding-left: 1340px;
  }
  .menu-elements {
    padding-left: 1340px;
  }
}
@media (min-width: 2559px) {
  .menu-word {
    padding-left: 1500px;
  }
  .menu-elements {
    padding-left: 1500px;
  }
}
.mobile-nav a {
  display: block;
  width: 100%;
  max-width: 200px;
  padding-bottom: 10px;
}
.card {
  width: 100%;
  height: auto;
  margin-bottom: 16px;
  -webkit-box-shadow: 0px 0px 6px -1px rgba(34, 60, 80, 0.15);
  -moz-box-shadow: 0px 0px 6px -1px rgba(34, 60, 80, 0.15);
  box-shadow: 0px 0px 6px -1px rgba(34, 60, 80, 0.15);
  @apply px-8 pt-8 pb-2 rounded-xl;
}
.card__title {
  @apply mb-5 text-cerise-900 font-bold border-l-2 border-cerise-500 pl-3;
}
.txt__sm {
  @apply text-sm;
}
.txt__base {
  @apply text-base;
}
.txt__2xl {
  @apply text-2xl;
}
@media (min-width: 640px) {
  .txt__sm {
    @apply text-base;
  }
  .txt__base {
    @apply text-lg;
  }
  .txt__2xl {
    @apply text-3xl;
  }
}

.btn {
  background: rgb(254, 133, 98);
  background: linear-gradient(
    90deg,
    rgba(254, 133, 98, 1) 0%,
    rgba(226, 71, 136, 1) 50%,
    rgba(222, 62, 142, 1) 100%
  );
}
.about__us__number {
  height: max-content;
  @apply text-5xl text-biscay-500 pr-7 font-bold border-l-2
    border-cerise-500 pl-1 mb-4;
}
.about__us__text {
  @apply m-auto;
}
.wrapper {
  overflow: hidden;
}
.slides-container {
  position: relative;
  transition: 900ms cubic-bezier(0.48, 0.15, 0.18, 1);
  height: 110vh;
}
.slides {
  width: 100%;
  position: absolute;
}
.next-btn,
.prev-btn {
  display: none;
  background: #eee;
  padding: 16px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  z-index: 10;
  transition: 400ms;
}
.prev-btn {
  left: 0;
}
.next-btn {
  right: 0;
}
.navigation-dots {
  display: flex;
  align-items: center;
  justify-content: center;
}
.single-dot {
  background: #ccc;
  height: 10px;
  width: 10px;
  margin: 0 8px;
  border-radius: 50%;
  transition: 400ms;
}
.single-dot.active {
  background: #353767;
}
.services__wrp {
  -webkit-box-shadow: 0px 0px 6px -1px rgba(34, 60, 80, 0.15);
  -moz-box-shadow: 0px 0px 6px -1px rgba(34, 60, 80, 0.15);
  box-shadow: 0px 0px 6px -1px rgba(34, 60, 80, 0.15);
  @apply flex flex-col rounded-xl lg:shadow-none;
}

.services__elements {
  @apply rounded-xl text-center text-mine-shaft-500 transition duration-500 ease-in-out md:w-96 lg:p-6 lg:rounded-tr-full lg:rounded-br-full;
}

.services__wrp .services__elements.active {
  @apply bg-biscay-500;
}

.services__elements .radio-dot {
  @apply flex justify-center items-center rounded-full w-4 h-4 border border-biscay-500;
}

.services__elements.active {
  @apply text-white;
}

.services__elements.active .radio-dot {
  @apply border-white;
}

.services__elements.active .radio-dot-inside {
  @apply rounded-full w-3 h-3 bg-white;
}

.service-slider-item {
  @apply transition duration-500 ease-in-out;
}

.steps-dot {
  background: linear-gradient(
    90deg,
    rgba(254, 133, 98, 1) 0%,
    rgba(226, 71, 136, 1) 50%,
    rgba(222, 62, 142, 1) 100%
  );
  @apply w-8 h-8 rounded-full flex justify-center items-center text-white my-2;
}

.dashed-line {
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: calc(50% - 1px);
  border-left: 2px dashed #c20772;
}

.check {
  width: 36px;
  height: 24px;
  object-fit: cover;
}
.software__box__txt {
  @apply font-bold text-biscay-500;
}
.coding__border {
  @apply txt__base font-bold text-biscay-500 border-l-2 border-cerise-500 pl-2 mb-4;
}

.wrp__slides {
  overflow: hidden;
}

.container-slides {
  position: relative;
  height: 152vh;
  transition: 900ms cubic-bezier(0.48, 0.15, 0.18, 1);
}
.one {
  width: 100%;
  position: absolute;
  height: 100%;
}
.nav-dots {
  display: flex;
  align-items: center;
  justify-content: center;
}
.dot-single {
  background: #ccc;
  height: 10px;
  width: 10px;
  margin: 0 8px;
  border-radius: 50%;
  transition: 400ms;
}
.dot-single.active {
  background: #353767;
}
.reviews_wrp {
  overflow: hidden;
}
.reviews_container {
  position: relative;
  height: 122vh;
  transition: 900ms cubic-bezier(0.48, 0.15, 0.18, 1);
}
.review {
  width: 100%;
  position: absolute;
  height: 100%;
}
.review_dots {
  display: flex;
  align-items: center;
  justify-content: center;
}
.review_dot_single {
  background: #ccc;
  height: 10px;
  width: 10px;
  margin: 0 8px;
  border-radius: 50%;
  transition: 400ms;
}
.review_dot_single.active {
  background: #353767;
}
.w-class-76 {
  width: 300px;
}
.gradient {
  background: -webkit-linear-gradient(
    225deg,
    rgb(243, 239, 243),
    rgb(197, 6, 114) 2%,
    rgb(53, 56, 103)
  );
  background: -moz-linear-gradient(
    225deg,
    rgb(243, 239, 243),
    rgb(197, 6, 114) 2%,
    rgb(53, 56, 103)
  );
  background: linear-gradient(
    225deg,
    rgb(243, 239, 243),
    rgb(197, 6, 114) 2%,
    rgb(53, 56, 103)
  );
}
.footer__menu {
  background: rgb(216, 94, 1);
  background: linear-gradient(
    343deg,
    rgba(216, 94, 1, 1) 0%,
    rgba(197, 6, 114, 1) 21%,
    rgba(53, 56, 103, 1) 100%
  );
}
@media (min-width: 1024px) {
  .footer__menu {
    background-image: url(../img/desktop/footer_back.png);
    background-size: cover;
  }
}
.trust_width {
  width: 187px;
}
@media (min-width: 1024px) {
  .ipad_width {
    width: 788px;
    height: 568px;
  }
}
@media (min-width: 1024px) {
  .size_software {
    width: 100%;
    height: auto;
  }
}

.stages_back {
  background-image: url(../img/both/stages_work_back.png);
  background-size: cover;
}

.desktop_wrp {
  overflow: hidden;
}
.desktop_container {
  position: relative;
  height: 100vh;
  transition: 900ms cubic-bezier(0.48, 0.15, 0.18, 1);
}
.desktop_slides {
  width: 100%;
  position: absolute;
  height: auto;
}
.desktop_dots {
  display: flex;
  align-items: center;
  justify-content: center;
}
.desktop_dot_single {
  background: #ccc;
  height: 10px;
  width: 10px;
  margin: 0 8px;
  border-radius: 50%;
  transition: 400ms;
  @apply hidden lg:flex;
}
.desktop_dot_single.active {
  background: #353767;
}

.desktop_reviews {
  overflow: hidden;
}
.desktop_reviews_container {
  position: relative;
  height: 70vh;
  transition: 900ms cubic-bezier(0.48, 0.15, 0.18, 1);
}
.desktop_reviews_slider {
  width: 100%;
  position: absolute;
  height: 100%;
}
.desktop_review_dots {
  display: flex;
  align-items: center;
  justify-content: center;
}
.desktop_alone_dot {
  background: #ccc;
  height: 10px;
  width: 10px;
  margin: 0 8px;
  border-radius: 50%;
  transition: 400ms;
  @apply hidden lg:block;
}
.desktop_alone_dot.active {
  background: #353767;
}
.underline {
  text-decoration: none;
  width: max-content;
  @apply border-b-2 border-cerise-500;
}
